@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');



* {
	box-sizing: border-box;
}


body {

background: #d9a7c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

font-family: 'Noto Sans KR', sans-serif;

}

.container {

	width: 800px;
	max-width: 100%;
	margin: 0 auto;
}


.meal {

	display: flex;
}

.meal-img {

	flex: 1;
}

.meal-img img{

	max-width: 100%;


}


.meal-details {

	flex: 2;

}



