@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;700&display=swap');



* {
	box-sizing: border-box;
}


body {

background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

font-family: 'Noto Sans KR', sans-serif;

}

.container {

	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	padding: 20px;

}

.headline {

	color: #fff;
	text-align: center;
	font-size: 2rem;

}


.meal {

	display: flex;

background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    /*border-radius: 5px;*/

    display: flex;
    /*overflow: hidden;*/

    box-shadow: 0 13px 13px rgba(0, 0, 0, 0.15);


}

.meal-img {

	overflow: hidden;

	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

	flex: 1;
}

.meal-img img{

	width: 100%;
	height: 100%;

	object-fit: cover;


}


.meal-details {

	padding: 30px;

	flex: 2;

	position: relative;

}


.meal-title {

	margin: 0 0 20px;

	color: #414345;
	font-size: 1.9rem;

}

.meal-instruction {

	font-size: 16px;
	color: #302b63;
	font-weight: bold;



}


.meal-info {

	list-style-type: none;
	display: flex;
	padding: 0;


}


.meal-info li {

	font-size: 14px;

	color: #555;

	font-weight: 200;

	margin-right: 50px;

}

.meal-info li strong {

	display: block;
	color: #302b63;
	font-size: 20px;
	font-weight: 600;

}


.btn {

	background-color: #fd1d1d;

	color: #fff;

	padding: 15px 25px;

	font-size: 1.3rem;

	font-weight: 600;

	border: none;

	border-radius: 6px;

	text-transform: uppercase;


}

.meal-details .btn {

	position: absolute;
	bottom: -10px;

	right: -10px;
}
